<div class="row"><center>
    <div class="col-sm-8">
       <h4>Tried and Tested GD Friendly Recipes</h4>
       <p>Soon you will learn that gluten free doesnt mean sugar free & fruits and vegtables arent always a diabetics best friend. By the time you are diagnosed however, its too late for trial and error as you will be recording your Blood Sugar levels right away... Click the image below for many delicious recipes that members of our community have tested already and take a look at the avg Blood Sugar Level reading for each recipe.. ALL of our meals are 100% Tried and Tested already- no more uncertainty..</p><a href="#/recipes"><img src="images/foodheart.png" alt="foodheart"></a>
     </div>
     <div class="col-sm-4" style="height: 60px;">
       <div style="width:400px;height:150px;padding:10px;border:1px dotted black;">
         <h4>Register or Login to Track Your Blood Sugars</h4> <span class="glyphicon glyphicon-lock"></span>
         <p><a class="btn btn-default" ng-href="AuthenticationPatient/index.html" target="_blank">GD Patient Login<span class="glyphicons glyphicons-lock"></span> <a href="#/patientrec"> <br>Temp Link to  Private Patient Record </br></a></a></p> </br> 
       </div>
       <br></br>
       <div style="width:400px;height:150px;padding:10px;border:1px dotted black;">
        <h4>Medical Program Members Portal</h4> <span class="glyphicon glyphicon-lock"></span>
         <p><center><a class="btn btn-default" ng-href="AuthenticationMedical/index.html" target="_blank">Healthcare Professionals Login<span class="glyphicons glyphicons-lock"></span> <a href="#/medirecord"> <br>Temp Link to private Medical Record </br></a></a></p> 
        </div>
      </div>
    </div>
    </center>
<br></br>
